[options]
    resize_grip = false
    scroll_on_output = false
    scroll_on_keystroke = true
    audible_bell = true
    visible_bell = false
    mouse_autohide = true
    allow_bold = true
    dynamic_title = true
    urgent_on_bell = true
    clickable_url = true
    font = Roboto Mono for Powerline  12
    scrollback_lines = 1000
    search_wrap = true
    #icon_name = terminal
    geometry = 950x550

    # "system", "on" or "off"
    cursor_blink = system

    # "block", "underline" or "ibeam"
    cursor_shape = underline

    # $BROWSER is used by default
    browser = firefox

    # vte-256color has the correct terminfo, but some applications (vim, weechat)
    # still need patches for mouse/title support
    term = screen-256color


[colors]

# special
foreground      = #808080
foreground_bold = #808080
cursor          = #808080
background      = #080808

# black
color0  = #1a1a1a
color8  = #404040

# red
color1  = #d75f5f
color9  = #ea8484

# green
color2  = #87af5f
color10 = #c7f09f

# yellow
color3  = #ffaf5f
color11 = #ffcc9a

# blue
color4  = #87afd7
color12 = #a5caef

# magenta
color5  = #8787af
color13 = #a6a6de

# cyan
color6  = #5f8787
color14 = #69b2b2

# white
color7  = #808080
color15 = #d7d7d7

